In [ ]:
# multiline string
#This is a comment
#written in
#more that just one line

# s1='America'; s2='Japan'
# color_list = {"Red","Green","White","Black"}

In [1]:
print('Hello World') # "print " was missing

Hello World

In [13]:
if 5>2:
    print('Five is greater than two!') # Tab was Missing before print

Five is greater than two!

In [5]:
# This is comment, We use '#' for comment

In [15]:
# multiline string
#This is a comment
#written in
#more that just one line

In [8]:
car = 'Volvo'
print(car)

Volvo

In [10]:
x = 50
print(x)

50

In [17]:
x=5; y=10
z=x+y
print(x+y)
print(z)

15
15

In [21]:
#2my_first_name = "John" 
my_first_name = "John"      # here '2' is illegal
print(my_first_name)

John

In [26]:
x=y=z='Orange'
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [100]:
num1 = 20; num2 = 30
product= num1*num2
sum = num1+num2
if (product>1000):
    print(sum)
else:
    print(product)

600

In [103]:
num1 = 40; num2 = 30
product= num1*num2
sum = num1+num2
if (product>1000):
    print(sum)
else:
    print(product)

70

In [58]:
tup = (10, 20, 30, 40, 50)
print(tuple(reversed(tup)))

(50, 40, 30, 20, 10)

In [41]:
tup1= ('orange', [10,20,30],(5,15,25))
tup1[1][1]

20

# use hint from google

In [13]:
s1='America'; s2='Japan'
a= s1[0]+s2[0]
b= s1[int(len(s1)/2):int(len(s1)/2)+1] + s2[int(len(s2)/2):int(len(s2)/2)+1]   
c= s1[-1]+s2[-1]
s3= a+b+c
s3

'AJrpan'

In [34]:
lst= [100,200,300,400,500]
lst.reverse()
print(lst)

[500, 400, 300, 200, 100]

# use hint from google

In [19]:
lst1= ['M','na','i','ke']
lst2 = ['y','me','s','lly']
a=lst1[0]+lst2[0]
b=lst1[1]+lst2[1]
c=lst1[2]+lst2[2]
d=lst1[3]+lst2[3]
lst3=[a,b,c,d]
lst3

['My', 'name', 'is', 'kelly']

In [26]:
list1= [10,20,30,40]
list2=[100,200,300,400]
list2.reverse()
for (a,b) in zip(list1,list2):       
    print(a,b)

10 400
20 300
30 200
40 100

In [104]:
# remove empty string
abc = ['mike','','emma','kelly','', 'brad']
while('' in abc):
   abc.remove('')
print(abc)

['mike', 'emma', 'kelly', 'brad']

# used google completely

In [48]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")
# used google completely

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

# Please help

In [1]:
#  Python program to display the first and last colors
color_list = {"Red","Green","White","Black"}
list(color_list)[0],list(color_list)[-1]

('White', 'Black')